html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// body {
//   // font-family: var(--main-font);
// }

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
