.container {
  background: linear-gradient(
    90deg,
    rgba(139, 58, 180, 0.8618040966386554) 0%,
    rgb(253, 167, 29) 50%,
    rgb(247, 196, 14) 100%
  );
  text-align: center;
  padding-bottom: 20px;
}
.goBackBtn {
  margin-top: 10px;
  text-align: left;
  padding: 10px 20px;
  background-color: #ebd8ff;
  border-color: transparent;
  border-radius: 4px;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #c49eed;
    color: #fff;
  }
}
.list {
  padding: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}
.btn {
  display: inline-block;
  font-size: 18px;
  width: 196px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #373737;
  font-weight: 600;
  background-color: #ebd8ff;
  border-radius: 10px;
  padding: 14px 28px;
  border-color: transparent;
  box-shadow: 0px 3.44px 3.44px 0 rgba(0, 0, 0, 0.25);
  transition: all 250ms ease;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #c49eed;
    color: #fff;
  }
}
