.header{
    display: flex;
    background-color: #ae7be3;
    padding: 10px 30px;
    align-items: center;
}
.text{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
}